header, footer{
    width: 100%;
    padding: 10px;
    margin: 0;
    background: #c52f24;
    color: white;
    display: block;
}

.main-container{
    margin: 50px 15px;
}

table{
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    padding: 10px 20px;
    background-color: #ffdfdf;
}

td{
    border: 1px solid black;
    padding: 10px 20px;
    background-color: #f1c8c861;
}

li{
    list-style: none;
}

.notice{
    padding: 15px;
    width: 400px;
    text-align: center;
    background-color: #ec98ac8f;
    border: 2px solid #ec7592;
}